* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body {
    background-image: url('../img/1.jfif');
} */
.content {
    color: #0d6efd;
    font-size: 30px;
}
.bg {
    background: url('../img/1.jfif');
    height:450px;
    text-align: center;
    line-height: 450px;
}
.bg-blur {
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}
.content-front {
  position:absolute;
  left: 10px;
  right: 10px;
  top: 250px;
  height:300px;
  line-height: 300px;
  text-align: center;
}
